h2 {
    text-align: center;

}

p {
    text-align: center;

}

.edit p {
    font-size: 10px;
}


.container {
    display: flex;
    flex-wrap: wrap;
    background-color:#e0e0e0;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 40px;
    margin: 40px auto;
    max-width: 1400px;
    border-radius: 25px;
    padding: 40px;

}

.inside-container {
    flex: 1 1 250px;
    max-width: 400px;
    padding: 40px;
    background-color: white;
    height: 300px;
    border-radius: 25px;
    box-sizing: border-box;
    text-align: center;

}

.one {
    width: 500px;
    margin-right: auto;
    margin-left: 130px;
    
}

.two {
    flex: 1;
    width: 400px;

}



