body{
    background-color:bisque;
}

section  {
    width: 300px;
    border: 3px solid blue;
    margin: 40px;
    padding: 50px;
    background: rgba(75, 97, 89, 0.3);
}

nav {
    display: flex;
    padding: 0;
    display: inline-block;
}




